/vagrant/.vagrant/

/terraform/.terraform/
/terraform/*.tfstate*
/terraform/.terraform.lock.hcl

/ansible/external_collections/
/ansible/external_roles/
/ansible/.venv/
*.retry

/.py-env/
/.venv/

*.swp

/tmp/
/.env
/packer-manifest.json

/ansible/inventory/resources/tls
/ansible/inventory/resources/ADMIN_*
